* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fff198;
}

header {
    background-color: #ec6318;
    color: white;
    font-family: 'VT323', monospace;
    padding: .5rem;
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 10vh;
}

h1 {
    font-size: 1.75rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
    border: 5px solid black;
    border-radius: 40px;
    padding: 2rem;
    width: 90vw;
    max-width: 500px;
    background-color: #ffd261;
}

.instruction {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.move-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.move-btn {
    font-size: 2.5rem;
    border-radius: 100px;
    border: 2px solid #575757;
    background-color: white;
    padding: .25rem;
    cursor: pointer;
}

.move-display, .score-board {
    font-family: 'VT323', monospace;
    font-weight: 600;
}

.score-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    font-size: 1.10rem;
}

.move-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.10rem;
    gap: .25rem;
}

.ctrl-btns{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ctrl-btns button{
    border: 2px solid black;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffd284;
    font-size: 1.10rem;
    font-family: 'VT323', monospace;
    cursor: pointer;
}